<div class="window" id="buttons-card">
    <div class="titlebar">
        <div class="w-left">
            <div class="title"><span>{{ trans(key="the_buttons", lang=lang) }}</span></div>
        </div>
        <div class="w-right">
            <div class="btn minimize"></div>
            <div class="btn maximize"></div>
            <div class="btn close"></div>
        </div>
    </div>
    <img src="{{ get_url(path='images/btn/transrats.gif') }}" title="Trans Rats (Trans Rights are Human Rights)">
    <a href="https://yesterweb.org/no-to-web3/"><img src="{{ get_url(path='images/btn/notoweb3.gif') }}" title="Say no to Web3"></a>
    <a href="https://neocities.org/"><img src="{{ get_url(path='images/btn/neocities.gif') }}" title="Neocities"></a>
    <br />
    <a href="https://kde.org/"><img src="{{ get_url(path='images/btn/kde.gif') }}" title="KDE"></a>
    <a href="https://kate-editor.org/"><img src="{{ get_url(path='images/btn/kate.gif') }}" title="Kate text editor"></a>
    <a href="https://www.mozilla.org/firefox/new/"><img src="{{ get_url(path='images/btn/firefox.gif') }}" title="Firefox browser"></a>
    <br />
    <img src="{{ get_url(path='images/btn/archlinux.gif') }}" title="ArchLinux">
    <a href="https://dreampipe.net"><img src="{{ get_url(path='images/btn/dreamcast.gif') }}" title="Dreampipe"></a>
    <a href="https://joinmastodon.org/"><img src="{{ get_url(path='images/btn/mastodon.gif') }}" title="Mastodon"></a>
    <br />
    <img src="{{ get_url(path='images/btn/antifa.gif') }}" title="Anti-fascist">
    <img src="{{ get_url(path='images/btn/ulysses.gif') }}" title="Ulysse 31">
    <a href="https://dk64randomizer.com/"><img src="{{ get_url(path='images/btn/dk64gaming.gif') }}" title="Donkey Kong 64 Randomizer"></a>
</div>