<div id="header">
    <div id="header_l">
        <span id="js-status">🚫</span><img style="vertical-align:middle; margin-top: -10px;" src="{{ get_url(path='images/catAnim/catNomL.gif') }}"/>
    </div>
    <div id="header_c">
        <span style="white-space: nowrap;">{{ config.title }}</span>
    </div>
    <div id="header_r">
        <div id="icon-mastodon"><a href="https://eldritch.cafe/@breadly" rel="me"><img src="{{get_url(path='/images/links-btn/btn-mastodon.gif')}}" alt="Mastodon" title="Mastodon"/></a></div>
        <div id="icon-bluesky"><a href="https://bsky.app/profile/breadcat.neocities.org" rel="me"><img src="{{get_url(path='/images/links-btn/btn-bluesky.gif')}}" alt="Bluesky" title="Bluesky"/></a></div>
        <div id="icon-github"><a href="https://github.com/BreadlyUwU" rel="me"><img src="{{get_url(path='/images/links-btn/btn-github.gif')}}" alt="Github" title="Github"/></a></div>
        {% if lang == 'fr' %}
            <div id="icon-atom"><a href="{{ get_url(path='/fr/atom.xml') }}"><img src="{{ get_url(path='images/atom.gif') }}" alt="{{ trans(key='atom_feed', lang=lang) }}" title="{{ trans(key='atom_feed', lang=lang) }}"></a></div>
        {% endif %}
        {% if lang == 'en' %}
            <div id="icon-atom"><a href="{{ get_url(path='atom.xml') }}"><img src="{{ get_url(path='images/atom.gif') }}" alt="{{ trans(key='atom_feed', lang=lang) }}" title="{{ trans(key='atom_feed', lang=lang) }}"></a></div>
        {% endif %}
    </div>
</div>