{% extends "base.html" %}
{% block content %}
    <head>
        <title>There's nothing for you in this place</title>
    </head>

    <div class="titlebar">
        <div class="w-left">
            <a href="{{config.base_url}}"><div class="btn arrow" title="Back"></div></a>
            <div class="title"><span>HTML 404 - Not Found</span></div>
        </div>
        <div class="w-right">
            <div class="btn minimize"></div>
            <div class="btn maximize"></div>
            <div class="btn close"></div>
        </div>
    </div>
    <div>
        <article>
            <center>
                <img
                    src="{{ get_url(path='images/404.gif') }}"
                    style="width: 100%;"
                />
            </center>
        </article>
    </div>
{% endblock %}
