<!DOCTYPE html>
<html>
  <head>
    <link rel="preload" href="{{ get_url(path='global.css') }}" as="style" />
    <link rel="preload" href="{{ get_url(path='breadly-engine.js') }}" as="style" />
    <link rel="stylesheet" href="https://esm.sh/emfed@1/toots.css" type="text/css" />
    <link rel="stylesheet" href="{{ get_url(path='global.css') }}" type="text/css" />
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}" />
    <meta charset="utf-8" />
    <meta pronouns="she/they" />
    <meta name="theme-color" content="#955b33" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml") }}">
    {% endblock %}

  </head>

{%set buildtime = now() | date(format="%Y-%m-%d %H:%M") %}

<body>
  <div id="supermainbox">

    <div id="header">
      <div id="header_l"><span id="js-status">🚫</span><img style="vertical-align:middle; margin-top: -10px;" src="{{ get_url(path='images/catAnim/catNomL.gif') }}"/></div>
      <div id="header_c"><span style="white-space: nowrap;">{{ config.title }}</span></div>
      <div id="header_r">
        <div id="icon-mastodon"><a href="https://eldritch.cafe/@breadly" rel="me"><img src="{{get_url(path='/images/links-btn/btn-mastodon.gif')}}" alt="Mastodon" title="Mastodon"/></a></div>
        <div id="icon-bluesky"><a href="https://bsky.app/profile/breadcat.neocities.org" rel="me"><img src="{{get_url(path='/images/links-btn/btn-bluesky.gif')}}" alt="Bluesky" title="Bluesky"/></a></div>
        <div id="icon-cohost"><a href="https://cohost.org/Breadly" rel="me"><img src="{{get_url(path='/images/links-btn/btn-cohost.gif')}}" alt="cohost" title="cohost"/></a></div>
        <div id="icon-atom"><a href="{{ get_url(path='atom.xml') }}"><img src="{{ get_url(path='images/atom.gif') }}" alt="Atom Feed" title="Atom Feed"></a></div>
      </div>
    </div>

    <div id="mainbox">
      <div id="sidebar-left">
        <div class="window" id="bobvibes">
          <div class="titlebar">
            <div class="w-left">
              <div class="title"><span>:D</span></div>
            </div>
            <div class="w-right">
              <div class="btn minimize"></div>
              <div class="btn maximize"></div>
              <div class="btn close"></div>
            </div>
          </div>
          <div id="bob"></div>
        </div>

        <div class="window" id="table-of-content">
          <div class="titlebar">
            <div class="w-left">
              <div class="title"><span>Table of content</span></div>
            </div>
            <div class="w-right">
              <div class="btn minimize"></div>
              <div class="btn maximize"></div>
              <div class="btn close"></div>
            </div>
          </div>
          <h3><img src="{{ get_url(path='images/catAnim/catWalk.gif') }}"/>OwO<img src="{{ get_url(path='images/catAnim/catWalk.gif') }}"/></h3>
          <table>
            <thead>
              <tr>
                <th scope="col"><span><a href="{{ config.base_url }}">Home</a><span></th>
                <th scope="col"><span><a href="{{ get_url(path='blog/') }}">Blog</a><span></th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="window" id="buttons-card">
          <div class="titlebar">
            <div class="w-left">
              <div class="title"><span>The Obligatory Buttons</span></div>
            </div>
            <div class="w-right">
              <div class="btn minimize"></div>
              <div class="btn maximize"></div>
              <div class="btn close"></div>
            </div>
          </div>
          <img src="{{ get_url(path='images/btn/transrats.gif') }}" title="Trans Rats (Trans Rights are Human Rights)">
          <a href="https://yesterweb.org/no-to-web3/"><img src="{{ get_url(path='images/btn/notoweb3.gif') }}" title="Say no to Web3"></a>
          <a href="https://neocities.org/"><img src="{{ get_url(path='images/btn/neocities.gif') }}" title="Neocities"></a>
          <br />
          <a href="https://kde.org/"><img src="{{ get_url(path='images/btn/kde.gif') }}" title="KDE"></a>
          <a href="https://kate-editor.org/"><img src="{{ get_url(path='images/btn/kate.gif') }}"" title="Kate text editor"></a>
          <a href="https://www.mozilla.org/firefox/new/"><img src="{{ get_url(path='images/btn/firefox.gif') }}" title="Firefox browser"></a>
          <br />
          <img src="{{ get_url(path='images/btn/archlinux.gif') }}" title="ArchLinux">
          <a href="https://dreampipe.net"><img src="{{ get_url(path='images/btn/dreamcast.gif') }}" title="Dreampipe"></a>
          <a href="https://joinmastodon.org/"><img src="{{ get_url(path='images/btn/mastodon.gif') }}" title="Mastodon"></a>
          <br />
          <img src="{{ get_url(path='images/btn/antifa.gif') }}" title="Anti-Fachist">
          <img src="{{ get_url(path='images/btn/ulysses.gif') }}" title="Ulysse 31">
          <a href="https://dk64randomizer.com/"><img src="{{ get_url(path='images/btn/dk64gaming.gif') }}" title="Donkey Kong 64 Randomizer"></a>
        </div>
      </div>

      <div class="window" id="content">
        {% block content %}
        {% endblock %}
      </div>

      <div id="sidebar-right">
        <div class="window" id="mastodon-box">
          <div class="titlebar">
            <div class="w-left">
              <div class="title"><span>Mastodon Feed</span></div>
            </div>
            <div class="w-right">
              <div class="btn minimize"></div>
              <div class="btn maximize"></div>
              <div class="btn close"></div>
            </div>
          </div>
          <a class="mastodon-feed" href="https://eldritch.cafe/@Breadly" data-toot-limit="5">Follow me on the Fediverse</a>
        </div>
      </div>
    </div>

    <div id="footer">
      <div id="ft-left">
        <span>Hosted by <a href="https://www.neocities.org">Neocities<img src="{{ get_url(path='images/neocities-logo.png') }}" /></a></span><br/>
        <span>Built with <a href="https://www.getzola.org/">Zola <img src="{{ get_url(path='images/zola-logo.gif') }}"></a></span>
      </div>
      <div id="ft-right">
        <span>✳️ Last updated<br/>{{ buildtime }}<br />(UTC+02 - Europe/Paris)</span>
      </div>
    </div>
  </div>
</body>

<script src="{{ get_url(path='breadly-engine.js') }}" type="module"></script>
<script src="https://esm.sh/emfed@1" type="module"></script>

</html>
