{% extends "base.html" %}
{% block content %}
<div class="titlebar">
  <div class="w-left">
    <a href="{{config.base_url}}"><div class="btn arrow" title="Back"></div></a>
    <div class="title"><span>{{ section.title }}</span></div>
  </div>
  <div class="w-right">
    <div class="btn minimize"></div>
    <div class="btn maximize"></div>
    <div class="btn close"></div>
  </div>
</div>
<article>
  {{ section.content | safe }}
    {% for page in section.pages %}
    <div id="blog-list-item">
      <a href="{{ page.permalink | safe }}">
        {{page.date}} <b>- {{ page.title }}</b><br/><br/>
        <span>{{ page.description }}</span>
      </a>
    </div>
    {% endfor %}
</article>
{% endblock content %}
