{% extends "base.html" %}
{% block content %}
	<head>
		<title>Stinky's Writings - {{ config.title }}</title>
		<link rel="stylesheet" href="{{ get_url(path='blog.css') }}" type="text/css" />
	</head>

	<div class="titlebar">
	<div class="w-left">
		<a href="../"><div class="btn arrow" title="{{ trans(key='back', lang=lang) }}"></div></a>
		<div class="title"><span>{{ section.title }}</span></div>
	</div>
	<div class="w-right">
		{% if section.lang != "en" %}
			<a href="{{ config.base_url }}/blog/" title="Switch to the english version of this page">🇫🇷</a>
		{% else %}
			<a href="{{ config.base_url }}/fr/blog/" title="Switcher vers la version française de cette page">🇬🇧</a>
		{% endif %}
		<div class="btn minimize"></div>
		<div class="btn maximize"></div>
		<div class="btn close"></div>
	</div>
	</div>
	<article>
	{{ section.content | safe }}
		{% for page in section.pages %}
		{%- set png = get_image_metadata(path=page.path ~ '_thumbnail.png', allow_missing=true) -%}
		{%- set jpg = get_image_metadata(path=page.path ~ '_thumbnail.jpg', allow_missing=true) -%}
		{%- set gif = get_image_metadata(path=page.path ~ '_thumbnail.gif', allow_missing=true) -%}
			<div id="blog-list-item">
				<div id="blog-entry-thumbnail">
					<a href="{{ page.permalink | safe }}">
						{%- if png -%}
							<img src="{{page.path}}_thumbnail.png"/>
						{%- elif jpg -%}
							<img src="{{page.path}}_thumbnail.jpg"/>
						{%- elif gif -%}
							<img src="{{page.path}}_thumbnail.gif"/>
						{%- else -%}
							<!-- No image? <:( -->
						{%- endif -%}
					</a>
				</div>

				<div id="blog-entry-info">
					<div id="blog-entry-header">
						<div id="blog-entry-title">
							<a href="{{ page.permalink | safe }}">
							<b>{{ page.title }}</b>
							</a>
						</div>
						<div id="blog-entry-date">
							<span>{{page.date}}</span>
						</div>
					</div>
					<div id="blog-entry-body">
						<span>{{ page.description }}</span>
					</div>
				</div>
			</div>
		{% endfor %}
	</article>
{% endblock content %}
