{% extends "base.html" %}
{% block content %}
	<head>
		<title>Taxonomy - {{ config.title }}</title>
	</head>

	<div class="titlebar">
		<div class="w-left">
			<a href="javascript:window.history.back();"><div class="btn arrow" title="{{ trans(key="back", lang=lang) }}"></div></a>
			<div class="title"><span>Taxonomy</span></div>
		</div>
		<div class="w-right">
			<div class="btn minimize"></div>
			<div class="btn maximize"></div>
			<div class="btn close"></div>
		</div>
	</div>

	<div id="content-body">
		<article>
			{% for term in terms %}
        		<a href="{{ term.permalink | safe }}">{{ term.name }}</a><br/>
			{% endfor %}
		</article>
	</div>
		
{% endblock content %}
